<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>my first Ejs page</h1>
<h2>you are visiting <%= usern.username %></h2>
<h2>password<%usern.username %></h2>
<h2></h2>


</body>
</html>